api/vendor/
api/.env
laradock/.env
api/writable/logs/*
!api/writable/logs/index.html
api/writable/cache/*
!api/writable/cache/index.html
api/writable/session/*
!api/writable/session/index.html
api/writable/uploads/*
!api/writable/uploads/index.html
api/writable/debugbar/*
!api/writable/debugbar/index.html
